@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

.menu-item-bordered {
    border-top: 1px solid $ui-black-transparent;
}


.ContextMenuContent {
	background-color: white;
	border-radius: 6px;
	overflow: hidden;
	padding: 5px 0px;
	box-shadow: 0px 10px 38px -10px gray;
}

.menu-item{
    font-size: 13px;
	line-height: 1;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0px 12px;
	position: relative;
	user-select: none;
	outline: none;
    cursor: pointer;
}

.menu-item[data-highlighted]{
    background: $motion-primary;
    color: white;
}

.menu-item-danger[data-highlighted] {
    background: $error-primary;
}