@import "../../css/colors.css";
@import "../../css/units.css";

.modal-content {
    width: 400px;
}

.body {
    background: $ui-white;
    padding: 1.5rem 2.25rem;
}

.label {
    font-weight: 500;
    margin: 0 0 0.75rem;
}

.currentIPInfo {
    font-size: .875rem;
    color: $text-primary-transparent;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: $ui-tertiary;
    border-radius: 4px;
}

.ip-input {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid $ui-black-transparent;
    border-radius: 5px;
    padding: 0 1rem;
    height: 3rem;
    color: $text-primary-transparent;
    font-size: .875rem;
}

.ip-input.invalid {
    border-color: $red-primary;
}

.ip-input:focus {
    outline: none;
    border-color: $motion-primary;
}

.description {
    font-weight: normal;
    font-size: .875rem;
    margin-bottom: 0.75rem;
    color: $text-primary-transparent;
    line-height: 1.4;
}

.reloadNotice {
    font-weight: normal;
    font-size: .75rem;
    margin-bottom: 1.5rem;
    color: $text-primary-transparent;
    line-height: 1.4;
    font-style: italic;
}

.error-message {
    font-size: .875rem;
    color: $red-primary;
    margin-bottom: 0.75rem;
    font-weight: normal;
}

.button-row {
    font-weight: bolder;
    text-align: right;
}

.button-row button {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background: white;
    border: 1px solid $ui-black-transparent;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
}

.button-row button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-row button.ok-button {
    background: $looks-secondary;
    border: $looks-secondary;
    color: white;
}

.button-row button.ok-button:not(:disabled):hover {
    background: $looks-secondary-dark;
}

.button-row button.cancel-button:hover {
    background: $ui-tertiary;
}

[dir="ltr"] .button-row button + button {
    margin-left: 0.5rem;
}

[dir="rtl"] .button-row button + button {
    margin-right: 0.5rem;
}


